<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="site/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="site/style.css" type="text/css" />
	<link rel="stylesheet" href="site/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="site/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="site/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="site/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="site/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
	============================================= -->
	<title><%- data.title -%></title>

</head>

<body class="stretched">
	

	<%- content -%>



	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="site/js/jquery.js"></script>
	<script src="site/js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="site/js/functions.js"></script>


</body>
</html>