<!-- Page Title
============================================= -->
<section id="page-title">

	<div class="container clearfix">
		<h1>Blog</h1>
		<span>Our Latest News</span>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Blog</li>
		</ol>
	</div>

</section><!-- #page-title end -->